<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <h3>Recipes:</h3>
  <app-recipe-list [childRecipeList]="MasterRecipesList" (clickSender)="editRecipe($event)"></app-recipe-list>
</div>

<div *ngIf="selectedRecipe">
  <h3>{{selectedRecipe.name}}</h3>
  <h3>Edit Recipe</h3>
  <label>Enter Recipe Ingredients:</label>
  <input [(ngModel)]="selectedRecipe.ingredients">
  <br>
  <label>Enter Deliciousness (1-3):</label>
  <br>
  <input type="radio" [(ngModel)]="selectedRecipe.deliciousness" value="1">1 (Disgusting)<br>
  <input type="radio" [(ngModel)]="selectedRecipe.deliciousness" value="2">2 (Neutral)<br>
  <input type="radio" [(ngModel)]="selectedRecipe.deliciousness" value="3">3 (Delicious)
  <button (click)="finishedEditing()">Done</button>
</div>
